header {
  background-color: red;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}
.footer {
  background-color: red;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}
.div1 {
  background-color: aqua;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;

  border: 2px solid black;
}
.div2 {
  background-color: green;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid black;
}
.div3 {
  background-color: cadetblue;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid black;
}
