/* -- Regras Gerais Início -- */
* {
    font-family: arial;
    margin: 0;
    padding: 0;
  }
  
body {
  font-size: 18px;
}
/* -- Regras Gerais Fim -- */
  
/* -- Header Area Begin -- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #676565;
}

header .logo-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .logo-content img {
  width: 10%;
}

header .container {
  width: 40%;
  display: flex;
  align-items: center;
}

header .container ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header .container ul li {
  list-style: none;
}

header .container ul .toggle-menu {
  color: purple;
  display: none;
}

header a {
  text-decoration: none;
  color: #000;
}

header a:hover {
  color: #5f4a90;
  text-decoration: underline;
}
/* -- Header Area End -- */

/* -- Home Area Begin -- */
.home-content {
  width: 100%;
  height: 100vh;
}

.home-content .image-banner {
  width: 100%;
  height: 100%;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
  background-position: center;
  color: #fff;
}

.home-content .image-banner h1 {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 1em;
}

.home-content .image-banner p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 1%;
}

.home-content .image-banner button {
  color: #000;
  border: none;
  border-radius: 50px;
  padding: 15px 35px;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 7%;
}
/* -- Home Area End -- */

/* -- Products Area Begin -- */
.products-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #fff;
  padding: 2% 0;
}

.products-content div {
  margin: 1%;
  max-width: 375px;
  height: 250px;
}

.products-content div img {
  height: 100%;
}

.products-content div button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 30px;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  bottom: 25%;
  left: 30%;
}
/* -- Products Area End -- */

/* -- Footer Area Begin -- */
footer {
  width: 100%;
  height: 10vh;
  background-color: #5f4a90;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -- Footer Area End -- */

/* -- Media Queries Area Begin -- */
@media only screen and (max-width: 540px){
  
  body {
    width: 100vw;
  }

  header {
    z-index: 2;
    height: 10vh;
  }
  
  header .container {
    width: 50%;
  }
  
  header .container ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
  }
  
  header .container ul li {
    display: none;
  }
  
  header .container ul .toggle-menu {
    display: block;
    font-size: 1.3em;
  }
  
  header .logo-content {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  header .logo-content img {
    width: 20%;
  }
  
  .home-content .image-banner {
    width: 100vw;
  }
  
  .products-content {
    width: 100vw;
  }
  
  footer {
    width: 100vw;
  }
  
}
/*
@media only screen and (min-width: 545px) and (max-width: 960px) {
  header {
    z-index: 3;
    padding: 20px;
    font-size: 1.3em;
  }
  
  header .container {
    margin-right: 5%;
  }
}
/* -- Media Queries Area End -- */

/* -- All Buttons -- */  
/*
.home-content .image-banner button:hover, .products-content div button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #5f4a90;
}
/* -- All Buttons End -- */